<section class="container film">
    <div class="loader-box" ng-show="loading">
        <div class="loader"></div>
    </div>
    <div class="card" ng-repeat="film in ::films | orderBy: 'episode_id' track by film.episode_id">
        <img class="card-img-top" src="../assets/images/starwars.png" alt="Card image cap">
        <div class="card-block">
            <h3 class="card-header">{{film.title}}</h3>
            <h4 class="card-title card-pad">Episode: {{getEpisode(film.episode_id)}}</h4>
            <p class="card-text card-pad">
                <small>
                    <b>Release date:</b> {{convertDate(film.release_date)}}</small>
            </p>
            <p class="card-text card-pad">
                <b>Opening:</b> {{film.opening_crawl}}</p>
            <p class="card-text card-pad">
                <b>Created:</b> {{convertDate(film.created)}}</p>
            <p class="card-text card-pad">
                <b>
                    <button class="btn btn-dark" ng-click="seeChars(film.characters, film.title)">See chars</button>
                </b>
            </p>
            <p class="card-text card-pad">
                <small>
                    <b>Director:</b> {{film.director}}</small>
            </p>
            <p class="card-text card-pad">
                <small>
                    <b>Producer:</b> {{film.producer}}</small>
            </p>
        </div>
    </div>
    <div class="modal modal-films" aria-labelledby="charsModallLabel" aria-hidden="true" ng-show="show">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="charsModallLabel">{{title}} Characters</h5>
                    <button type="button" class="close" ng-click="showModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Birth Year</th>
                                <th scope="col">Skin Color</th>
                                <th scope="col">Height</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="char in characters track by $index">
                                <td>{{char.name}}</td>
                                <td>{{char.birth_year}}</td>
                                <td>{{char.skin_color}}</td>
                                <td>{{char.height}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" ng-click="showModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>